.agendamento{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    max-width: 1000px;
    margin: auto;
}

.agendamento h1{
    background-image: linear-gradient(to top, #ffffffff, #ffb895);
    width: 100%;
    transform: translateY(-27px);
}

.agendamento button{
    display: flex;
    width: 300px;
    height: 50px;
    margin: auto;
    margin-top: 10px;
    justify-content: center;
    vertical-align: center;
    text-align: center;
    font-size: 2rem;
    background-color: rgb(255, 203, 135);
    color: white;
    font-family: 'Courier New', Courier, monospace;
    text-decoration: none;
    transition: .5s;
    border-radius: 10px;
    border-style: none;
}

.agendamento button:hover{
    background-color: rgb(255, 177, 41);
    color: rgb(255, 255, 255);
    transition: .5s;
    color: black;
}

.social{
    margin-top: -20px;
}