.navbar{
    display: flex;
    align-items: center;
    background-image: linear-gradient(to top, #ffffffff, #ffb895);
    max-width: 1000px;
    margin: auto;
}


.navbar a{
    display: flex;
    font-weight: 400;
    font-size: 1.3rem;
    color: black;
}

.navbar a:hover{
    color: rgba(255, 0, 0, 0.599);
}

.meauto{
    display: flex;
    justify-content: flex-end;
    margin: auto;
}