.carousel{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    margin: auto;
    max-width: 1000px;
    width: 300px;
    height: 500px;
    padding-top: 10px;
}

.geral{
    max-width: 300px;
    margin: auto;
}