@import url('https://fonts.googleapis.com/css2?family=Cinzel:wght@400;500;600;700;800;900&display=swap');

* {
    margin: 0;
    padding: 0;
}

.header {
    width: 100%;
    margin: auto;
    height: 100%;
    display: flex;
    background-color: #ffb895c0;
    font-family: 'Cinzel', serif;
    padding-top: 30px;
    padding-bottom: 20px;
    font-size: 1.7rem;
    background-image: linear-gradient(to top, #ffffffff, #ffb895);
    color: #333;
    padding: 20px;
    text-align: center
}

.header a{
    display: flex;
    flex-direction: column;
    margin: auto;
    width: 200px;
}

.whatsapp{
    margin-top: 30px;
    display: flex;
    position: absolute;
    right: 10px;
    top: -20px;
    flex-direction: column;    
    margin-inline-end: 0;
    width: 40px;
}

.whatsapp:hover{
    width: 2.7rem;
    filter: brightness(1.2);
    cursor: pointer;
}

.instagram{
    display: flex;
    position: absolute;
    right: 10px;
    top: 60px;
    flex-direction: column;
    width: 40px;
}

.instagram:hover{
    width: 2.7rem;
    filter: brightness(1.2);
    cursor: pointer;
}


.facebook{
    display: flex;
    position: absolute;
    right: 10px;
    top: 110px;
    flex-direction: column;
    width: 40px;
}

.facebook:hover{
    width: 2.7rem;
    filter: brightness(1.2);
    cursor: pointer;
}
