.services{
    display: flex;
    justify-content: center;
    flex-direction: column;
    gap: 5px;
}

.tudo{
    background-image: url("../../images/nail2.jpg");
    background-size: cover;
    background-position: center;
    max-width: 1000px;
    margin: auto;
    margin-bottom: 27px;
}

h1{
    display: flex;
    align-items: center;
    justify-content: center;
    margin: auto;
    gap: 10px;
    width: 100%;
    background-color: #ffb895;
    background-image: linear-gradient(to top, #ffffffff, #ffb895);
    text-align: center;
    padding: 10px;
    padding-top: 20px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 35px;
    color: rgba(0, 0, 0, 0.675);
    text-shadow: 1px 2px 1px rgb(255, 255, 255);
    max-width: 1000px;
}

.services h2{
    background-color: #ffb895d5;
    border: rgba(255, 200, 198, 0.665) solid 10px;
    border-style: outset;
    padding: 15px;
    width: 100%;
    margin: auto;
    color: rgba(255, 255, 255);
    text-shadow: 1px 2px 1px rgb(83, 83, 83);
    font-size: 1.3rem;
    text-align: center;
    font-family: cursive;

    
}

.bg1{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    /* background-image: url("../../images/unha-1.png"); */
    background-size: cover;
    background-position: center;
    filter: brightness(1.7);
    filter: opacity(80%);
    gap: 5px;
    padding-bottom: 5px;
}

.bg2{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    /* background-image: url("../../images/nail1.jpg"); */
    background-size: cover;
    background-position: center;
    filter: brightness(1.7);
    filter: opacity(80%);
    gap: 5px;
    padding-bottom: 5px;
}

.bg3{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    /* background-image: url("../../images/nail1.jpg"); */
    background-size: cover;
    background-position: center;
    filter: brightness(1.7);
    filter: opacity(70%);
    gap: 5px;
    padding-bottom: 5px;
}

.bg4{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    /* background-image: url("../../images/nail1.jpg"); */
    background-size: cover;
    background-position: center;
    filter: brightness(1.8);
    filter: opacity(70%);
    gap: 5px;
    padding-bottom: 5px;

}

.alongamento{
    width: 400px;
}